body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 14px;
  background-color: #abedf6;
}
input:focus,
button:focus {
  outline: none;
}
.panel-side,
.panel-center {
  position: fixed;
}
.panel-side {
  width: 250px;
  height: 100%;
}
.panel-side h1 {
  color: #63a2be;
}
.panel-right {
  right: 0;
}
.panel-center {
  background-color: #fdfdfd;
  height: 100%;
  box-shadow: 0 0 10px -2px #000;
  z-index: 100;
}
.panel-center h1 {
  color: #aaa;
}
.panel-center button {
  float: left;
  padding: 5px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
  font-size: 21px;
  border: 0px;
  background: none;
  width: 31px;
  height: 31px;
  color: #aaa;
}
.panel-center button:hover {
  opacity: 0.75;
}
.panel-center button:active {
  color: #000;
}
.panel-center input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  font-size: 14px;
}
.panel-center .checkbox-wrapper {
  display: inline-block;
  text-align: center;
  width: 31px;
  margin: 0 5px 0 0;
}
.panel-center input[type=checkbox] {
  margin: 0;
}
.panel-center .text-extender {
  overflow: hidden;
}
.panel-center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.panel-center li {
  display: block;
  border-bottom: 2px solid #aaa;
  padding: 10px;
  margin: 0;
}
@media (max-width: 800px) {
  .panel-right {
    display: none;
  }
}
@media (max-width: 550px) {
  .panel-left {
    display: none;
  }
}
.grass-tile {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-image: url("../img/newtab/grass_tile.png");
}
.text-center {
  text-align: center;
}
