// =========================================
// FONT
// =========================================
@font-face
    font-family "DisposableDroidBB"
    url ("chrome-extension://__MSG_@@extension_id__/css/font/DisposableDroidBB.otf") format("opentype")

// =========================================
// MISC
// =========================================
.tgd-popup
    position fixed
    width 100%
    font-family "DisposableDroidBB", "Arial", sans-serif
    font-size 24px
    padding 20px
    text-align center
    z-index 2000000000