// =========================================
// FONT
// =========================================
@font-face
    font-family "DisposableDroidBB"
    src url("chrome-extension://__MSG_@@extension_id__/css/font/DisposableDroidBB.otf") format("opentype")

// =========================================
// MISC
// =========================================

centerAccentColor = #888
centerBkg = #fdfdfd

body
    padding 50px
    background-color centerBkg
    color centerAccentColor
    font-family "DisposableDroidBB", "Helvetica Neue", Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6, li
    color black

ul
    list-style square
    margin-left 40px
