centerAccentColor = #888
centerBkg = #fdfdfd

body
    padding 50px
    background-color centerBkg
    color centerAccentColor

h1, h2, h3, h4, h5, h6, li
    color black

ul
    list-style square
    margin-left 40px
