// =========================================
// DEFAULTS
// =========================================
fontSize = 16px

body
    margin 0
    padding 0
    font-family "Raleway"
    font-size fontSize
    background-color #abedf6

input:focus, button:focus
    outline none
// =========================================
// PANELS
// =========================================
panelWidth = 250px
inputPadding = 5px
listPadding = 10px
rowHeight = 35px

panelAccentColor = #63a2be
centerAccentColor = #aaa
centerBkg = #fdfdfd


.panel-side, .panel-center
    position fixed

.panel-side
    width panelWidth
    height 100%
    h1
        color panelAccentColor

.panel-right
    right 0

.panel-center
    background-color centerBkg
    height 100%
    box-shadow 0 0 10px -2px black
    z-index 100
    overflow-x hidden
    h1
        color centerAccentColor

    button
        box-sizing border-box
        font-size 21px
        border 0px
        background none
        color centerAccentColor
        &:hover
            opacity 0.75
        &:active
            color black
    .add-btn
        float left
        padding inputPadding
        margin 0 listPadding 0 0
        width 31px
        height 31px

    input[type=text]
        width 100%
        box-sizing border-box
        padding inputPadding
        margin 0
        font-size fontSize

    .text-extender
        overflow hidden
    ul
        list-style none
        margin 0
        padding 0
    li
        display table
        width calc(100% \- (2 * listPadding))
        height rowHeight
        div
            display table-cell
            padding (listPadding / 2)
            vertical-align middle
        .cell-side
            text-align center
            width 25px
            vertical-align middle
        button, input[type=checkbox]
            margin 0
            padding 0
        .cell-center
            word-break break-word

    li, .add-wrapper
        box-shadow 0 1px 3px -2px black
        margin 0
        padding listPadding

    .task-complete
        text-decoration line-through
        font-style italic
        opacity 0.75

@media (max-width: 800px)
    .panel-right
        display none

@media (max-width: 550px)
    .panel-left
        display none

// =========================================
// GENERAL
// =========================================
.grass-tile
    position fixed
    bottom 0
    height 50px
    width 100%
    background-image url("../img/newtab/grass_tile.png")

.text-center 
    text-align center