// =========================================
// DEFAULTS
// =========================================
fontSize = 16px
titleHeight = 60px
listPadding = 10px


body
    margin 0
    padding 0
    font-family "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size fontSize
    background-color #abedf6

input:focus, button:focus
    outline none

ul
    list-style none
    margin 0
    padding 0

h1
    height titleHeight
    margin 0
    padding-top listPadding

.content-scroll
    overflow-y auto
    // Compensates for the h1 height and padding
    height calc(100% \- (titleHeight + listPadding))

// =========================================
// PANELS
// =========================================
panelWidth = 250px
inputPadding = 5px
rowHeight = 35px

panelAccentColor = #63a2be
centerAccentColor = #aaa
centerBkg = #fdfdfd


.panel-side, .panel-center
    position fixed

.panel-side
    width panelWidth
    height 100%
    h1
        color panelAccentColor

.panel-right
    right 0

.panel-center
    background-color centerBkg
    height 100%
    // box-shadow 4px 0 0 2px #5aaa
    z-index 100
    overflow-x hidden
    overflow-y hidden

    h1
        color centerAccentColor

    .content-scroll
        // Compensate for height of "Add Task": rowHeight
        // Compensate for padding on "Add Task": listPadding * 2
        height calc(100% \- (titleHeight + (listPadding * 2) + rowHeight))

    button
        box-sizing border-box
        font-size 21px
        border 0px
        background none
        color centerAccentColor
        &:hover
            opacity 0.75
        &:active
            color black

    input[type=text]
        width 100%
        box-sizing border-box
        padding inputPadding
        margin 0
        font-size fontSize

    .text-extender
        overflow hidden
    
    li
        display table
        width calc(100% \- (2 * listPadding))
        height rowHeight
        
        button, input[type=checkbox]
            margin 0
            padding 0
        

    li, .add-wrapper
        border-bottom 2px solid #ddd
        margin 0
        padding listPadding

    .cell-side, .cell-center
        display table-cell
        padding (listPadding / 2)
        vertical-align middle

    .cell-side
        text-align center
        width 25px
        vertical-align middle

    .cell-center
        word-break break-word

    .add-wrapper
        display table
        width calc(100% \- (2 * listPadding))
        i
            color centerAccentColor
            width 31px
            height 31px
            font-size 21px
        .cell-side
            ul
                display none
                background-color white
                text-align right
                position absolute
                right 0
                box-shadow -2px 2px 10px 0 #ccc

                li
                    padding-bottom 0
                    border none
                    &:hover
                        background-color #fafafa
                    &.tag-selected
                        background-color #eee
        .cell-side:hover
            ul
                display block

    .bottom-panel
        background-color centerBkg
        border-top 2px solid #ddd 
        border-bottom none
        position fixed
        bottom 0
        a
            color black
            text-decoration none

    .task-complete
        text-decoration line-through
        font-style italic
        color centerAccentColor

    .checkbox
        font-size 18px
a.tag
    color panelAccentColor
    text-decoration none

.category-list
    font-size 12px
    color centerAccentColor
    padding-top 3px

appIconWidth = 75px
appTitleColor = #33728e
.panel-right
    text-align center
    img
        width appIconWidth
        height auto
    h2 
        font-size 22px
        color appTitleColor

@media (max-width: 800px)
    .panel-right
        display none

@media (max-width: 550px)
    .panel-left
        display none

// =========================================
// GENERAL
// =========================================
.grass-tile
    position fixed
    bottom 0
    height 50px
    width 100%
    background-image url("../img/newtab/grass_tile.png")

.text-center 
    text-align center